{
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "xml",
        "plugins": [
          "@prettier/plugin-xml"
        ],
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
